[submodule "module/TritonMacroPlace"]
	path = module/TritonMacroPlace
	url = https://github.com/abk-openroad/TritonMacroPlace.git
[submodule "module/Resizer"]
	path = module/Resizer
	url = https://github.com/The-OpenROAD-Project/Resizer.git
[submodule "module/RePlAce"]
	path = module/RePlAce
	url = https://github.com/The-OpenROAD-Project/RePlAce.git
[submodule "module/pdn"]
	path = module/pdn
	url = https://github.com/The-OpenROAD-Project/pdn
[submodule "module/tapcell"]
	path = module/tapcell
	url = https://github.com/The-OpenROAD-Project/tapcell
[submodule "module/ioPlacer"]
	path = module/ioPlacer
	url = https://github.com/The-OpenROAD-Project/ioPlacer
