[submodule "module/TritonMacroPlace"]
	path = module/TritonMacroPlace
	url = https://github.com/abk-openroad/TritonMacroPlace.git
[submodule "module/Resizer"]
	path = module/Resizer
	url = https://github.com/The-OpenROAD-Project/Resizer.git
[submodule "module/RePlAce"]
	path = module/RePlAce
	url = https://github.com/The-OpenROAD-Project/RePlAce.git
